<div id="content">
  <center>
      <p><h1><a href="http://webs.wichita.edu/?u=ennovar&p=/index/"> <%=image_tag("Ennovar_Logo.jpg", class: "rounded_corners") %></a></h1></p>  
    <%= link_to('MyProfile', profile_url) %>
    <%= link_to('Logout', logout_url) %>
  </center>

</div>
