<p>
  A new user account was created for Ennovar HPC
</p>
<blockquote>
  <p>First Name: <em><%= @user.first_name %></em></p>
  <p>Last Name: <em><%= @user.last_name %></em></p>
  <p>Email: <em><%= @user.email %></em></p>
</blockquote>
<p>
  To view more details about this user, please visit the
  <%= link_to "user page", @user %>.
</p>
