<div id="content">
  <center><h1>Edit Message</h1></center>
  <%= form_for @article do |f| %>
    <p>
      <strong>Subject:</strong>
      <%= f.text_field :title %>
    </p>

    <p>
      <strong>Message:</strong>
      <%= f.text_area :text %>
    </p>
      <p><%= f.submit "Save Changes"%></p>
  <% end %>
</div>
