<p>
  A new request was posted for Ennovar HPC
</p>
<blockquote>
  <p>Subject: <em><%= @article.title %></em></p>
  <p>Message: <em><%= @article.text %></em></p>
</blockquote>
<p>
  To reply to this request, please visit the
  <%= link_to "request page", @article %>.
</p>
